@import "../var.scss";
@import "../mixins.scss";
#main{
    background-color: $bg-color;
    width: 100%;
    flex: 2 1 0;
    border-radius: $container-border-radius;
    section{
        display: flex;
        flex-direction: column;
        
        h2{
            color: $font-color;
            font-size: 3rem;
            margin-bottom: 1.3rem;
            padding: 15px 50px 0px 50px;
            @include center;
            justify-content: start;
            gap: 1rem;
    
            &:after{
                content: "";
                background: $gradient;
                height: 3px;
                width: 30%;
            }
    
        }
        p{
            color: $text-color-secundary;
            margin-bottom: 1rem;
            line-height: 1.4rem;
            padding: 10px 50px;

        }
        .btn{
            @include btn;
            align-self: left;
            
        }
    }
}
@media(max-width:430px){
    #main{
    
    section{
        display: flex;
        flex-direction: column;
        
        h2{
            font-size: 2rem;
            padding: 15px 20px 0px 20px;
            &:after{
                
                height: 0;
                width: 0;
            }
    
        }
        p{
            
            padding: 10px 20px;

        }
        
    }
}
}